
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Combat Game</title>
</head>
<body>

    <p style="text-align: center"><span style="font-size: 22pt;"> Welcome to <b>Combat Game</b></span></p>

    <h1>Enter your name</h1>
    <form method="get" action="~/Home/Selecting">

        <input type="text" name="identity" id="name" />
        
        <p>
            <input type="submit" value="Submit" />
        </p>
    </form>

</body>
</html>
